beautifulsoup4==4.11.1
certifi==2022.6.15
charset-normalizer==2.1.0
cycler==0.11.0
filelock==3.7.1
fonttools==4.34.4
gdown==4.5.1
huggingface-hub==0.8.1
idna==3.3
joblib==1.1.0
kiwisolver==1.4.4
matplotlib==3.5.2
networkx==2.8.5
numpy==1.23.1
opencv-python==4.6.0.66
packaging==21.3
pandas==1.4.3
Pillow==9.2.0
protobuf==3.20.1
pyparsing==3.0.9
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
regex==2022.7.24
requests==2.28.1
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.11.2
six==1.16.0
soupsieve==2.3.2.post1
tabulate==0.8.10
tensorboardX==2.5.1
termcolor==1.1.0
threadpoolctl==3.1.0
tokenizers==0.12.1
torch==1.12.0+cu116
torchaudio==0.12.0+cu116
torchtext==0.13.0
torchvision==0.13.0+cu116
tqdm==4.64.0
transformers==4.20.1
typing_extensions==4.3.0
urllib3==1.26.10
